@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --color-primaria: #1b1c1d;
  --color-secundaria: #F5E8C7;
  --cor-titulo: #00b3ff;
  --cor-hover: #095322;
  --cor-link: #771fc9;
  --cor-link_cursando: #e70b0b;

  --fonte-primaria: 'Montserrat';
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-primaria);
  color: var(--color-secundaria);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.menu {
  --radius: 8px;
  --border: 4px;
  --height: 48px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
}

.tabs {
  margin: 25px 0 -30px;
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: hsl(0 0% 0%);
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  border: var(--border) solid hsl(0 0% 0%);
  overflow: hidden;
}

.tab-btn {
  font-family: var(--fonte-primaria);
  place-content: center;
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border: none;
  background: none;
  color: hsl(0 0% 100% / 0.5);
  font-size: 1rem;
  transition: background, color var(--speed) ease;
}

.tab-btn:hover {
  background: hsl(0 0% 20%);
  color: hsl(0 0% 100%);
}

.tab-btn.active {
  color: hsl(0 0% 100%);
}

.highlight {
  pointer-events: none;
  content: "";
  width: calc(100% / 3);
  height: 100%;
  background: hsl(0 0% 100%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  mix-blend-mode: difference;
  transform: translateX(0);
  transition: transform var(--speed) ease;
}


.apresentacao {
  width: 70%;
  background-color: black;
  border-radius: 50px;
  display: flex;
  padding: 15px;
  margin: 5px;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-titulo);

}

.apresentacao__conteudo {
  align-content: center;
}

#caixa__texto {
  text-align: center;
  margin: 40px;
}

.conteudo {
  padding: 50px;
}

.titulo {
  text-align: center;
  font-family: var(--fonte-primaria);
  margin: 10px 10px 25px 10px;
}

.apresentacao__conteudo__titulo {
  font-family: var(--fonte-primaria);
}

.certificado_link_pc {
  display: flex;
  justify-content: center;
}

.link_externo {
  width: max-content;
  padding: 15px;
  list-style: none;
  border: 1px solid var(--cor-hover);
  border-radius: 25px;
  color: var(--color-secundaria);
  background: var(--color-primaria);
}

.certificado_link_celular {
  display: none;
}

.link_externo:hover {
  background: var(--cor-hover);
}

.apresentacao__conteudo__texto,
a {
  font-size: 0.9rem;
  text-decoration: none;
}

.apresentacao__conteudo__projetos {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px;
}

.projetos {
  width: auto;
  color: var(--color-secundaria);
  margin: 10px;
  border: 1px solid var(--cor-hover);
  padding: 15px;
  border-radius: 25px;
  background: var(--color-primaria);
}

.projetos:hover {
  color: var(--color-secundaria);
  background: var(--cor-hover);
}

.apresentacao .apresentacao__imagem {
  margin: 25px;
  width: 50%;
}

.apresentacao__curriculo {
  text-align: center;
  padding: 0px;
}

.lista,
li {
  text-align: justify;
  list-style: none;
}

.lista .certificado_link {
  text-decoration: none;
  color: var(--cor-link);
}

.lista .certificado_link:hover {
  color: var(--cor-hover);
}

.lista .certificado_link_cursando {
  text-decoration: none;
  color: var(--cor-link_cursando);
}

.carrosel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card img {
  width: 270px;
  padding: 0;
}

.card img:hover {
  transition: 400ms;
  width: 276px;
  box-shadow: 5px 5px 5px var(--cor-hover);
}


footer {
  padding: 0 0 5px;
  width: 100%;
  text-align: center;
}

/* From Uiverse.io by elisapi */
.card {
  width: auto;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(65, 29, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

.hidden {
  display: none;
}

/* Para Tablets */
@media (max-width: 1320px) {
  .apresentacao {
    display: flex;
    flex-direction: column-reverse;
  }

  .apresentacao__imagem img {
    display: none;
  }

  .apresentacao__conteudo__projetos {
    flex-wrap: wrap;
  }

  .lista,
  li {
    text-align: start;
  }
  
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}