@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primaria: #0F0F0F;
    --color-secundaria: #F5E8C7;
    --cor-terciaria: #465267;
    --cor-hover: #005B41;
    --cor-final: #00b3ff;
    --cor-titulo-principal: #8fd8f7;
    --cor-link: #771fc9;

    --fonte-primaria: 'korona one', sans-serif;
    --fonte-secundaria: 'Montserrat' sans-serif;
    font-size: 1.2em;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--color-primaria);
    color: var(--color-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    text-align: center;
}

.cabecalho__menu {
    display: flex;
    width: 35%;
    justify-content: space-between;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    color: var(--cor-final);
    text-decoration: none;
}

.apresentacao {
    padding: 10vw 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-titulo-principal);
}

.titulo_dois {
    margin-bottom: 1em;
}

.titulo-destaque {
    color: var(--cor-final);
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    text-decoration: none;
    color: var(--color-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5em;
}

.apresentacao__links__navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9em;
    /* espaçamento da imagem ao texto */
    width: 55%;
    /* tamanho da DIV */
    text-align: center;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-final);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 35%;
}

.rodape {
    color: var(--color-secundaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
}

.certificado_link {
    text-decoration: none;
    color: var(--cor-titulo-principal);
}

.projetos {
    font-weight: 700;
    border: 1px solid var(--cor-final);
    border-radius: 50px;
    padding: 0.5em;
    width: max-content;
    margin: 0.5em 0;
}

.certificado_link:hover {
    color: var(--cor-link);
}

.lista {
    margin: 0.5em 0;
    display: block;
}

@media (max-width:1200px) {
    main{
        font-size: 1em;
    }
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        width: auto;
        justify-content: space-between;
    }

    .cabecalho__menu__link {
        border-left: var(--cor-final) solid 1px;
        border-right: var(--cor-final) solid 1px;
        padding: 5px;
        text-justify: auto;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 1em 2em;
    }

    .apresentacao__imagem {
        width: 55%;
    }

    .apresentacao__conteudo__titulo,
    .apresentacao__links_subtitulo {
        font-size: 1em;
    }

    .apresentacao__links__navegacao {
        font-size: 0.8em;
    }

    .apresentacao__conteudo {
        width: auto;
    }

}