@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --color-primaria: #1b1c1d;
  --color-secundaria: #F5E8C7;
  --cor-terciaria: #465267;
  --cor-final: #00b3ff;
  --cor-titulo-principal: #8fd8f7;
  --cor-hover: #095322;
  --cor-link: #771fc9;

  --fonte-primaria: 'korona one', sans-serif;
  --fonte-secundaria: 'Montserrat' sans-serif;
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--color-primaria);
  color: var(--color-secundaria);
}

.menu {
  --radius: 8px;
  --border: 4px;
  --height: 48px;
  --speed: 0.25s;
  display: grid;
  place-items: center;
  align-content: center;
  font-family: var(--fonte-secundaria);
}

.tabs {
  margin: 25px 0 -30px;
  height: var(--height);
  display: grid;
  grid-auto-flow: column;
  background: hsl(0 0% 0%);
  border-radius: var(--radius);
  grid-auto-columns: 1fr;
  position: relative;
  border: var(--border) solid hsl(0 0% 0%);
  overflow: hidden;
}

.tab-btn {
  place-content: center;
  padding: 0 clamp(10px, 10px + 10px, 20px);
  cursor: pointer;
  text-align: center;
  height: 100%;
  display: grid;
  border: none;
  background: none;
  color: hsl(0 0% 100% / 0.5);
  font-size: 1rem;
  transition: background, color var(--speed) ease;
}

.tab-btn:hover {
  background: hsl(0 0% 20%);
  color: hsl(0 0% 100%);
}

.tab-btn.active {
  color: hsl(0 0% 100%);
}

.highlight {
  pointer-events: none;
  content: "";
  width: calc(100% / 3);
  height: 100%;
  background: hsl(0 0% 100%);
  position: absolute;
  border-radius: calc(var(--radius) - var(--border));
  mix-blend-mode: difference;
  transform: translateX(0);
  transition: transform var(--speed) ease;
}


.apresentacao {
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  padding: 50px;
  margin: 25px;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-final);
  
}
.apresentacao__conteudo {
  align-content: center;
}

#caixa__texto{
  text-align: center;
  margin: 50px;
}

.apresentacao__conteudo__titulo {
  margin: 0 10px 50px 0px;
  font-family: var(--fonte-secundaria);
}


.apresentacao .apresentacao__imagem{
  margin: 25px;
  width: 50%;
}

footer{
  justify-items: center;
  position: fixed;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* From Uiverse.io by elisapi */
.card {
  background: #005B41;
  width: auto;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(65, 29, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}